.App {
  font-family: monospace;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(86, 75, 167);
  color: white;
  padding: 17px;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
  gap: 25px;
}
